<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985479544824-t8l397l40atmctude7kll6k2kati8910.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985479544824-t8l397l40atmctude7kll6k2kati8910</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>985479544824-o5ig44h8j5rcq1iaf0rcusmp856dabab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIEN9El76OLHz2YwAKIEcqTD53h7wFhjg</string>
	<key>GCM_SENDER_ID</key>
	<string>985479544824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp7</string>
	<key>PROJECT_ID</key>
	<string>chat-app-58dea</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-58dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985479544824:ios:8fda472882c4873a83a00d</string>
</dict>
</plist>